body,html
{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #dfd3c3;
}
nav
{
  display: inline-block;
  font-family: verdana;
  width: 100%;
  height: 80px;
  background-color: #0009;
  line-height: 50px;
}
nav ul
{
  float: right;
  margin-right: 30px;
}
nav ul li
{
  list-style-position: outside;
  display: inline-block;
  transition: 0.8s all;
}
nav ul li:hover
{
  background-color: #ffa41b;
}
nav ul li a
{
  text-decoration: none;
  color: #fff;
  padding: 30px;
}
.na
{
  display: inline-block;
  font-family: 'Sacramento', cursive;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  margin-top: 1%;
  width: 100%;
  height: 10%;

}
.hed
{
  display: inline;
  margin-left: 35%;
}
.hedau
{
  display: inline;
  margin-left: 38%;
}
.one
{
  width: 30%;
  padding-left: 30px;
}
.two
{
  width: 50%;
  padding-top: 30px;
}
.qt
{
  font-family: 'Mr Bedfort', cursive;
  font-size: 40px;
  margin-bottom: 10px;
}
.content
{
  font-family: 'Merienda', cursive;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  text-align: justify;
}
.con
{
  padding-left: 10px;
  padding-right: 10px;
}
.footer
{
  background-color: #0009;
  font-family: 'Short Stack', cursive;
  color: white;
}
.ft
{
  padding: 1%;
  margin-left: 41%;
}
.ftb
{
  margin-top: -1%;
  margin-left: 47%;
}
