.qt
{
  font-family: 'Patrick Hand SC', cursive;
  font-size: 190%;
}
.tb
{
  font-family: 'Amatic SC', cursive;
  width: 60%;
  text-align: center;
}
.thed
{
  font-size: 250%;
}
.tb th,td
{
  width: 40%;
}
.tb tr
{
  background-color: #f2f2f2
}
.row
{
  font-family: 'Schoolbell', cursive;
  font-size: 150%;
}
.tb th
{
  background-color: #596e79;
  color: white;
}
